*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:200vh;
    overflow-x:hidden;
    background:#020617;
    font-family:'Poppins',sans-serif;
    color:white;
}


/* ================= SPIDER SCENE ================= */

.scene{

    width:100%;
    height:100vh;
    position:relative;
    overflow:hidden;

    background:
    radial-gradient(circle at top,#1b0033,#000814 60%);

}


.scene::before{

    content:"";
    position:absolute;

    width:500px;
    height:500px;

    background:red;
    filter:blur(150px);
    opacity:.25;

    top:20%;
    left:-150px;

}


.scene::after{

    content:"";
    position:absolute;

    width:500px;
    height:500px;

    background:#0066ff;

    filter:blur(150px);
    opacity:.25;

    right:-150px;
    bottom:10%;

}



.web{

    position:absolute;

    width:260px;
    height:260px;

    border-radius:50%;


    background:

    repeating-radial-gradient(
        circle,
        transparent 0 25px,
        rgba(255,255,255,.35) 27px
    ),

    repeating-conic-gradient(
        from 0deg,
        transparent 0 20deg,
        rgba(255,255,255,.35) 22deg
    );


    opacity:.8;
    filter:drop-shadow(0 0 8px white);

}



.web-left{
    top:-80px;
    left:-80px;
}


.web-right{
    top:-80px;
    right:-80px;
}



.spiderman{

    position:absolute;

    top:0;
    left:50%;

    transform:translateX(-50%);

    animation:swing 4s ease-in-out infinite;

}



.thread{

    width:2px;
    height:170px;

    background:white;

    margin:auto;

}



.mask{

    width:90px;
    height:90px;

    background:
    linear-gradient(135deg,#e50914,#111);

    border-radius:45%;

    position:relative;

    box-shadow:0 0 25px red;

}



.eye{

    position:absolute;

    width:28px;
    height:40px;

    background:white;

    top:25px;

    border-radius:50%;

}


.left-eye{
    left:15px;
}


.right-eye{
    right:15px;
}



.suit{

    width:70px;
    height:90px;

    background:#e50914;

    margin:auto;

    border-radius:20px;

}



.spider{

    position:absolute;

    top:180px;
    left:50%;

    transform:translateX(-50%);

    font-size:40px;

}



@keyframes swing{

0%,100%{
transform:translateX(-50%) rotate(-4deg);
}

50%{
transform:translateX(-50%) rotate(4deg);
}

}



.message{

    position:absolute;

    top:45%;

    width:100%;

    text-align:center;

}



.message h1{

    font-size:55px;

    text-shadow:
    0 0 15px red,
    0 0 30px #0066ff;

}


.message h2{

    font-size:35px;

    margin-top:15px;

}


.message h3{

    font-size:45px;

    color:#ff3355;

    text-shadow:0 0 20px red;

}


.message p{

    margin-top:20px;

    font-size:20px;

    color:#ddd;

}



button{

    position:absolute;

    bottom:50px;

    left:50%;

    transform:translateX(-50%);

    padding:15px 40px;

    border:none;

    border-radius:40px;

    background:linear-gradient(45deg,#e50914,#0066ff);

    color:white;

    font-size:18px;

    cursor:pointer;

    box-shadow:0 0 20px red;

}

/* ================= VILLAGE NIGHT SCENE ================= */


.garden-scene{

    width:100%;
    height:100vh;

    position:relative;

    overflow:hidden;

    background:

    linear-gradient(
        to bottom,
        #020617,
        #1e293b,
        #064e3b
    );

}




/* Moon */

.moon{

    position:absolute;

    top:70px;
    right:150px;

    width:80px;
    height:80px;

    background:#fff7cc;

    border-radius:50%;

    box-shadow:

    0 0 25px #fff7cc,
    0 0 60px #fde68a;

}




/* Village House */

.village-house{

    position:absolute;

    left:70px;

    bottom:180px;

    font-size:90px;

}




/* Big Tree */

.village-tree{

    position:absolute;

    right:70px;

    bottom:150px;

    font-size:220px;

    filter:drop-shadow(0 0 20px black);

}




/* Person Sitting Under Tree */

.sitting-person{

    position:absolute;

    right:320px;

    bottom:170px;

    font-size:75px;

}





/* Pond */

.village-water{

    position:absolute;

    bottom:0;

    width:100%;

    height:190px;


    background:

    linear-gradient(
        to bottom,
        #155e75,
        #082f49
    );


    border-radius:50% 50% 0 0;


    box-shadow:

    0 -10px 40px #38bdf8;

}





/* 24 Flower Plants */

.flower-field{

    position:absolute;

    bottom:170px;

    width:100%;


    display:flex;

    justify-content:center;

    flex-wrap:wrap;

    gap:15px;

    padding:0 50px;

}




.plant{

    font-size:35px;

    animation:wind 3s infinite ease-in-out;

}



.plant:nth-child(even){

    animation-delay:.5s;

}




@keyframes wind{

    0%,100%{

        transform:rotate(-5deg);

    }


    50%{

        transform:rotate(5deg);

    }

}





/* Fireflies */

.firefly{

    position:absolute;

    font-size:25px;

    animation:floatLight 4s infinite;

}



.fire1{

    top:40%;
    left:20%;

}


.fire2{

    top:30%;
    left:70%;

}


.fire3{

    top:60%;
    left:50%;

}




@keyframes floatLight{

    0%,100%{

        opacity:.3;

        transform:translateY(0);

    }


    50%{

        opacity:1;

        transform:translateY(-40px);

    }

}
