*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{

    height:100vh;
    overflow:hidden;
    font-family:'Poppins',sans-serif;
    background:
    radial-gradient(circle at top,#1b0033,#000814 60%);

    color:white;

}



.scene{

    width:100%;
    height:100vh;
    position:relative;
    overflow:hidden;

}



/* Red Blue cinematic glow */

.scene::before{

    content:"";
    position:absolute;
    width:500px;
    height:500px;
    background:red;
    filter:blur(150px);
    opacity:.25;
    top:20%;
    left:-150px;

}



.scene::after{

    content:"";
    position:absolute;
    width:500px;
    height:500px;
    background:#0066ff;
    filter:blur(150px);
    opacity:.25;
    right:-150px;
    bottom:10%;

}




/* Spider Web */

.web{

    position:absolute;
    width:220px;
    height:220px;
    border:2px solid rgba(255,255,255,.3);
    border-radius:50%;

}



.web::before,
.web::after{

    content:"";
    position:absolute;
    inset:20px;
    border:1px solid rgba(255,255,255,.25);
    border-radius:50%;

}



.web-left{

    top:-80px;
    left:-80px;

}



.web-right{

    top:-80px;
    right:-80px;

}




/* Hanging Spider */

.spiderman{

    position:absolute;
    top:0;
    left:50%;
    transform:translateX(-50%);
    animation:swing 4s ease-in-out infinite;

}



.thread{

    width:2px;
    height:170px;
    background:white;
    margin:auto;

}



.mask{

    width:90px;
    height:90px;
    background:
    linear-gradient(135deg,#e50914,#111);

    border-radius:45%;

    position:relative;

    box-shadow:
    0 0 25px red;

}



.eye{

    position:absolute;
    width:28px;
    height:40px;
    background:white;
    top:25px;
    border-radius:50%;

}



.left-eye{
    left:15px;
}


.right-eye{

    right:15px;

}




.suit{

    width:70px;
    height:90px;
    background:#e50914;
    margin:auto;
    border-radius:20px;

}




@keyframes swing{

    0%,100%{
        transform:translateX(-50%) rotate(-4deg);
    }

    50%{
        transform:translateX(-50%) rotate(4deg);
    }

}





/* Birthday Text */


.message{

    position:absolute;
    top:45%;
    width:100%;
    text-align:center;

}



.message h1{

    font-size:55px;
    color:white;
    text-shadow:
    0 0 15px red,
    0 0 30px #0066ff;

}



.message h2{

    font-size:35px;
    margin-top:15px;

}



.message h3{

    font-size:45px;
    color:#ff3355;

    text-shadow:
    0 0 20px red;

}



.message p{

    margin-top:20px;
    font-size:20px;
    color:#ddd;

}




button{

    position:absolute;
    bottom:50px;
    left:50%;
    transform:translateX(-50%);

    padding:15px 40px;

    border:none;
    border-radius:40px;

    background:
    linear-gradient(45deg,#e50914,#0066ff);

    color:white;
    font-size:18px;

    cursor:pointer;

    box-shadow:0 0 20px red;

}


button:hover{

    transform:translateX(-50%) scale(1.1);

}
